<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="bank" class="spring_app_aop3.BankImple"></bean>
	<bean id="la" class="spring_app_aop3.LoggingAdvice"></bean>
	<bean id="imple" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="bank"></property>
		<property name="interceptorNames">
			<value>la</value>
		</property>
	</bean>
</beans>
