<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace=" ">
 	<select id="empselectAll" resultType="vo.EmpVO">
 		SELECT * FROM emp
 	</select>
 	<select id="empOne" parameterType="int" resultType="vo.EmpVO">
 		SELECT * FROM emp
 		WHERE empno = #{empno}
 	</select> 	
 	<insert id="insertEmp" parameterType="vo.EmpVO">
 		INSERT INTO emp
 		VALUES ( #{empno} , #{ename} , #{job} , #{mgr} , #{hiredate} , #{sal} , #{comm} , #{deptno})
 	
 	</insert>
 	<delete id="deleteEmp">
 		DELETE emp
 		WHERE empno = #{empno}
 	</delete>
 </mapper>
  