		#container {
			margin: auto;
			width: 900px; /* 900~1200px */
		}
		#header {
			background-color: silver;
			color: white;
			height: 200;
		}
		img {
			width: 900px;
		}
		#sidebar1 {
			background-color: brown;
			width: 200px;
			float: left;
		}
		#contents {
			margin: 0px 10px;
			background-color: blue;
			width: 480px;
			float: left;
		}
		#sidebar2 {
			background-color: yellow;
			width: 200px;
			float: right;
		}
		#footer {
			background-color: green;
			height: 200px;
			/* float: 기능해제 */
			clear: both;
		}
		#nav {
			background-color: #f47c30;
		}
		.button {
			/* 텍스트 장식 없음 */
			text-decoration: none;
			/* 글자는 중앙 */
			text-align: center;
			/* 글자의 폰트 나눔 고딕 14px */
			font: 14px 나눔고딕;
			padding: 10px 20px 10px;
			color: #b8caee;
			border-color: 1px solid #f8e098;
			background-color: #f0e2c0;
		}
		/*마우스가 올라왔을 때 */
		.button:hover {
			background-color: yellow;
		}
		/* 버튼을 클릭하면 */
		.button:active{
			background-color: red;
			color:blue;
			position: relative;
			top: 2px;
		}

